@{ 
    ViewBag.Title = "About Us";
}
    <div class="col-md-6 offset-md-3">
        <div class="card card-body bg-light">
            <p>
                <strong>Lorem ipsum dolor sit amet</strong> consectetur adipiscing elit. Proin porttitor augue nec fermentum pulvinar. Nulla aliquam felis vel tortor rutrum, lacinia tincidunt arcu lacinia. Fusce vel molestie nunc. It is I, an ingenious and resourceful developer. Hire me plz. Praesent id mollis ex, vitae pulvinar arcu. Aenean eu metus at mauris bibendum mattis. Quisque sed sagittis leo, et tempor est. Aliquam auctor tincidunt massa. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce sed sapien tempus, scelerisque dui volutpat, hendrerit urna. Nunc volutpat, tellus sed dapibus viverra, massa risus euismod elit, quis porta leo dui dignissim velit.
            </p>
        </div>
    </div>