@{
    ViewBag.Title = "Home Page";
}
    <div class="row">
        <div class="col-md-4 offset-md-3">
            <div class="product-info">
                <img src="~/img/VanGogh.jpg" />
                <h3>Mug</h3>
                <ul class="product-props">
                    <li>Price: £9.99</li>
                    <li>Artist: Van Gogh</li>
                    <li>Title:</li>
                    <li>Description: Self-portrait</li>
                </ul>
                <button onclick="location.href='@Url.Action("Shop", "App")'" id="buyButton" class="btn btn-success">Start shopping!</button>
            </div>      
        </div>
        <div class="col-md-3 col-md-offset-4">
            <p>This is an amazing app which allows you to buy some imaginary items with paintings of legendary Dutch artists.</p>
        </div>
    </div>